@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


html {
  box-sizing: border-box;
  height: 110%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 10px;
  padding: 10px;
  
  
  /* Código para poner un cursor personalizado*/
 /* cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png"), auto; */

}


h2 {
  font-size: 10em;
}

#contenedor {
  margin: auto 3em;
  text-align: center;

}

#tituloPagina {
  margin-top: 5em;
  margin-bottom: 0;
  font-family: Pacifico,  Static;
  font-size: 5em;
}

#foto {
 height: 600px;
  border: rgb(3, 126, 30)  20px solid;
  margin-top: 20px;
}

.tituloPrediccion {
  font-size: 3em;
  font-family:Pacifico, Static;
}

.prediccion {
  font-size: 3em;
  font-family: Pacifico, Static;
  color: blue;
  
}

.prediccion::first-letter {
  text-transform: uppercase;
}

#boton {
  font-size: 1em;
  background-color: aquamarine;
  color: black;
  margin-bottom: 2em;
  cursor: pointer;
}
